@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600.favoritedisplay=swap');

:root {
	--background: #353535;
	--white: white;
	--yellow: #ebd96b;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body {
	background: var(--background);
	padding: 0 100px;
}

/* header */

header {

    display: flex;
    padding: 50px 0;
    justify-content: space-between;
    color: var(--white);
}
header .logo {
	display: flex;
	gap: 30px;
	align-items: center;
}
header ul {
	display: flex;
	gap: 50px;
	list-style: none;
	align-items: center;
	font-weight: 300;
}
.priview {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	background: whitesmoke;
	border-radius: 50px;
	width: 100%;
	height: 600px;
}
/* main */
/* preview */

main {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.priview .img {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	width: 100%;
	height: 100%;
}
.img img {
	width: 80%;
	height: 80%;
}

/* partners */

.partners {
	display: flex;
	justify-content: space-between;
    align-items: center;
	height: 150px;
	padding: 0 150px;
	margin: 0 -100px;
	background: var(--yellow);
}

/* NEW ARRIVALS */
.new__arrivals {
    display: flex;
    justify-content: flex-start;
}
.text {
    display: flex;
    position: relative;
    font-size: 48px;
    font-weight: 600;
    color: white;
    
}
.text p{
    z-index: 4;
}

/* payday */

.payday {
	padding-top: 190px;
}

.payday__inner {
	display: flex;
	gap: 60px;
	width: 100%;
	background-color: var(--yellow);
}

.payday__girl {
	width: 50%;
}

.payday__girl img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.payday__info {
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.payday__title {
	font-weight: 900;
	font-size: 111.608px;
	line-height: 137px;

	color: #000000;
}

.payday__text {
	font-weight: 500;
	font-size: 24px;
	line-height: 52px;
	letter-spacing: -0.02em;

	color: #231300;
}

.payday__date {
	font-size: 24px;
	letter-spacing: -0.02em;

	color: #000000;
}

.favorite {
	padding-top: 190px;
	color: var(--white);
}

.favorite__title {
	font-weight: 900;
	font-size: 48px;
	letter-spacing: 0.06em;
	margin-bottom: 120px;
}

.favorite__row {
	display: flex;
	gap: 50px;
}

.favorite__column {
	flex: 0 1 50%;
}

.favorite__item {
}

.favorite__item img {
	width: 100%;
	margin-bottom: 20px;
}

.favorite__bot {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.favorite__info {
}

.favorite__name {
	font-weight: 500;
	font-size: 32px;
	letter-spacing: -0.04em;
}

.favorite__text {
	font-size: 24px;
	letter-spacing: -0.04em;

	color: #7f7f7f;
}

.favorite__arrow {
	font-size: 24px;
}
